@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

body {
  background-color: #E8E8E8;
  margin: 0 auto;
  width: 100%;
  display: table;
}
body a {
  text-decoration: none;
}
body header,
body footer {
  z-index: 2;
}

.top0 {
  top: 0 !important;
}

.right0 {
  right: 0 !important;
}

.left0 {
  left: 0 !important;
}

.bottom0 {
  bottom: 0 !important;
}

.disp-none {
  display: none !important;
}

.disp-block {
  display: block !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
label,
span,
li {
  font-family: "Poppins", sans-serif;
}

h5,
h6,
p,
a,
label,
span,
li {
  font-size: 0.9em;
}

h1 {
  font-size: 2.6em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.6em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.9em;
}

footer {
  font-size: 0.9rem;
}

header {
  background-color: #E8E8E8;
  width: 100%;
  position: fixed;
}
header .logo,
header .about,
header .rrss {
  display: inline-block;
}
header .logo {
  float: left;
  padding: 1em;
}
header .logo h1 {
  font-size: 0;
}
header .logo h1 img {
  max-width: 128px;
  max-height: 92px;
}
header .about {
  width: 75vw;
  padding: 0.9rem 0;
}
header .about h3 {
  font-size: 1em;
  line-height: 1.4rem;
  margin-bottom: 0.6rem;
}
header .about h4,
header .about .artists {
  float: left;
}
header .about h4 {
  margin-right: 0.5rem;
  padding: 0.5rem 0;
  position: relative;
}
header .about .artists {
  width: 100%;
}
header .about .artists .floatText {
  background: #080808;
  color: #fafafa;
  overflow: hidden;
  white-space: nowrap;
}
header .about .artists .floatText p {
  width: max-content;
  position: relative;
  padding: 0.25rem 0.5rem;
  line-height: 1.25rem;
  color: #a2a2a2;
  animation: txtLeft2Right 20s infinite;
  animation-direction: normal;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
header .about .artists .floatText p:hover {
  animation-play-state: paused;
}
header .about .artists .floatText p span {
  margin-right: 0.8rem;
  transition: color 0.2s;
}
header .about .artists .floatText p span:hover {
  color: #fafafa;
  animation: none;
}
header .about .artists .floatText p span:last-child {
  margin-right: 0;
}
header .about .artists:hover {
  animation-play-state: paused;
}
@keyframes txtLeft2Right {
  from {
    left: -100%;
  }
  to {
    left: 100%;
  }
}
header .rrss {
  float: right;
}
header .rrss ul {
  float: right;
}
header .rrss ul li {
  display: grid;
  text-align: center;
}
header .rrss ul li a {
  background: #080808;
  color: #fafafa;
  padding: 0.6rem;
  font-size: 1.1rem;
  cursor: pointer;
}
header .rrss ul li a svg,
header .rrss ul li a i {
  vertical-align: middle;
}
header .rrss ul li a svg:hover,
header .rrss ul li a i:hover {
  color: #a2a2a2;
}

main {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}
main section.releases,
main section.showcases {
  width: 100%;
  display: inline-block;
}
main section.releases .left,
main section.releases .right,
main section.showcases .left,
main section.showcases .right {
  width: 50%;
  padding: 0 1rem 1rem;
}
main section.releases .left,
main section.showcases .left {
  float: left;
  max-width: fit-content;
}
main section.releases .left h2,
main section.showcases .left h2 {
  margin-bottom: 1rem;
}
main section.releases .left .list,
main section.showcases .left .list {
  margin-bottom: 1rem;
}
main section.releases .left .list .release,
main section.releases .left .list .showcase,
main section.showcases .left .list .release,
main section.showcases .left .list .showcase {
  padding: 0.6rem;
  line-height: 1.2em;
}
main section.releases .left .list .release.active,
main section.releases .left .list .showcase.active,
main section.showcases .left .list .release.active,
main section.showcases .left .list .showcase.active {
  background-color: #080808;
  color: #fafafa;
}
main section.releases .left .list .release.active.li-pm004 .download,
main section.releases .left .list .showcase.active.li-pm004 .download,
main section.showcases .left .list .release.active.li-pm004 .download,
main section.showcases .left .list .showcase.active.li-pm004 .download {
  color: #353bd7;
}
main section.releases .left .list .release.active.li-pm003 .download,
main section.releases .left .list .showcase.active.li-pm003 .download,
main section.showcases .left .list .release.active.li-pm003 .download,
main section.showcases .left .list .showcase.active.li-pm003 .download {
  color: #a2a2a2;
}
main section.releases .left .list .release.active.li-pm002 .download,
main section.releases .left .list .showcase.active.li-pm002 .download,
main section.showcases .left .list .release.active.li-pm002 .download,
main section.showcases .left .list .showcase.active.li-pm002 .download {
  color: #a3873b;
}
main section.releases .left .list .release.active.li-pm001 .download,
main section.releases .left .list .showcase.active.li-pm001 .download,
main section.showcases .left .list .release.active.li-pm001 .download,
main section.showcases .left .list .showcase.active.li-pm001 .download {
  color: #C81414;
}
main section.releases .left .list .release:hover,
main section.releases .left .list .showcase:hover,
main section.showcases .left .list .release:hover,
main section.showcases .left .list .showcase:hover {
  cursor: pointer;
}
main section.releases .left .list .release span a,
main section.releases .left .list .showcase span a,
main section.showcases .left .list .release span a,
main section.showcases .left .list .showcase span a {
  color: #080808;
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 0.04em;
}
main section.releases .left .list .release span.artist,
main section.releases .left .list .showcase span.artist,
main section.showcases .left .list .release span.artist,
main section.showcases .left .list .showcase span.artist {
  font-weight: 700;
  letter-spacing: 0.04em;
}
main section.releases .left .bandcamp .embed,
main section.showcases .left .bandcamp .embed {
  height: 230px !important;
}
main section.releases .left.fixed,
main section.showcases .left.fixed {
  position: fixed;
}
main section.releases .right,
main section.showcases .right {
  float: right;
}
main section.releases .right .right-image,
main section.showcases .right .right-image {
  padding: 4rem 0 2rem;
}
main section.releases .right .right-image .item img,
main section.showcases .right .right-image .item img {
  width: 100%;
  margin: 0 auto;
}
main section.releases {
  padding-bottom: 3rem;
}
main section.releases .right .right-image {
  padding: 2rem 8rem 8rem 1rem;
}
main section.showcases {
  padding-bottom: 6rem;
}
main section.showcases .right .right-image {
  padding: 2rem 9rem 8rem 2rem;
}

footer {
  background: #080808;
  width: 100%;
  padding: 1rem;
  display: flex;
  overflow: hidden;
  position: fixed;
  bottom: 0;
}
footer .contact,
footer .download {
  color: #fafafa;
  width: 50%;
  display: inline-block;
}
footer .contact a,
footer .download a {
  color: #fafafa;
}
footer .contact {
  padding-bottom: 1.2rem;
  float: left;
}
footer .contact a:hover {
  color: #a2a2a2;
}
footer .download {
  float: right;
  text-align: right;
}
footer .download a:hover {
  color: #a2a2a2;
}

.right .right-image .tns-controls {
  text-align: center;
  margin-bottom: 10px;
}
.right .right-image .tns-controls [aria-controls] {
  margin: 0 0.5rem;
  padding: 0.6rem 1.2rem;
  color: #fafafa;
  background: #080808;
  border: 0;
}
.right .right-image [data-action] {
  display: block;
  margin: 10px auto;
  text-align: center;
  background: transparent;
  border: 0;
}
.right .right-image .tns-controls [disabled] {
  color: #fafafa;
  background-color: #E8E8E8;
  cursor: not-allowed !important;
}
.right .right-image .tns-nav {
  text-align: center;
}
.right .right-image .tns-nav [aria-controls] {
  width: 0.4em;
  height: 0.4em;
  padding: 0;
  margin: 0 0.6em;
  border-radius: 50%;
  border: 0;
}
.right .right-image .tns-nav-active {
  background-color: #080808;
}

@media only screen and (max-width: 1080px) {
  main section.showcases .right .right-image {
    padding: 1rem 4rem 8rem;
  }
}
@media only screen and (max-width: 960px) {
  header .about {
    width: 70%;
  }
}
@media only screen and (max-width: 800px) {
  header .logo h1 img {
    width: 96px;
    height: 100%;
    top: 0;
  }
  header .about {
    width: 100%;
    padding: 0 1rem 1rem 1rem;
  }
  header .rrss {
    position: absolute;
    right: 0;
    top: 0;
  }
  header .rrss ul li {
    text-align: center;
    display: inline-flex;
    margin: 0 -2px;
  }
  header .rrss ul li a {
    padding: 1rem;
    font-size: 1.4em;
  }
  main section.releases .left,
  main section.releases .right,
  main section.showcases .left,
  main section.showcases .right {
    width: 100%;
    float: initial;
  }
  main section.releases .left h2,
  main section.showcases .left h2 {
    margin-top: 0;
  }
  main section.releases .left .list .release,
  main section.releases .left .list .showcase,
  main section.showcases .left .list .release,
  main section.showcases .left .list .showcase {
    padding: 0.8rem 1rem;
  }
  main section.releases .right .right-image,
  main section.showcases .right .right-image {
    padding: 2rem 0;
  }
  main section.releases .right .right-image [data-action],
  main section.showcases .right .right-image [data-action] {
    padding: 0.8rem 1.6rem;
  }
  main section.releases .bandcamp .embed {
    width: 84% !important;
  }
  main section.showcases .right .right-image {
    overflow: hidden;
    padding: 1rem 6rem 14rem;
  }
}
@media only screen and (max-width: 520px) {
  header {
    position: absolute;
  }
  main section.releases {
    padding-bottom: 1rem;
  }
  main section.showcases .right .right-image {
    padding: 0 4rem 14rem;
  }
  main .right .item {
    padding: 1rem 0;
  }
  footer {
    display: block;
  }
  footer .contact,
  footer .download {
    width: 100%;
    display: block;
    text-align: center;
  }
}
@media only screen and (min-width: 1080px) {
  .about h3 {
    font-size: 1em;
    line-height: 1.24rem;
    margin-bottom: 1rem;
  }
}
@media only screen and (min-width: 1280px) {
  .about h3 {
    font-size: 1.08em;
    line-height: 1.32rem;
    margin-bottom: 1.2rem;
  }
}
@media only screen and (max-height: 600px) {
  section.left .bandcamp .embed {
    height: 240px !important;
  }
}

/*# sourceMappingURL=style.css.map */
