@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700');
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
label,
span,
li {
    font-family: 'Poppins', sans-serif;
}

h5,
h6,
p,
a,
label,
span,
li {
    font-size: .9em;
}

h1 {
    font-size: 2.6em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.6em;
}

h4 {
    font-size: 1em;
}

h5 {
    font-size: .9em;
}

footer {
    font-size: .9rem;
}