//FOOTER
footer {
    background: $dark-gray;
    width: 100%;
    padding: 1rem;
    display: flex;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    .contact,
    .download {
        color: $white;
        width: 50%;
        display: inline-block;
        a {
            color: $white;
        }
    }
    .contact {
        padding-bottom: 1.2rem;
        float: left;
        a {
            &:hover {
                color: $silver;
            }
        }
    }
    .download {
        float: right;
        text-align: right;
        a {
            &:hover {
                color: $silver;
            }
        }
    }
}