//HEADER
header {
    background-color: $light-gray;
    width: 100%;
    position: fixed;
    .logo,
    .about,
    .rrss {
        display: inline-block;
    }
    //logo
    .logo {
        float: left;
        padding: 1em;
        h1 {
            font-size: 0;
            img {
                max-width: 128px;
                max-height: 92px;
            }
        }
    }
    //about
    .about {
        width: 75vw;
        padding: .9rem 0;
        h3 {
            font-size: 1em;
            line-height: 1.4rem;
            margin-bottom: .6rem;
        }
        h4,
        .artists {
            float: left;
        }
        h4 {
            margin-right: .5rem;
            padding: .5rem 0;
            position: relative;
        }
        .artists {
            width: 100%;
            .floatText {
                background: $dark-gray;
                color: $white;
                overflow: hidden;
                white-space: nowrap;
                p {
                    width: max-content;
                    position: relative;
                    padding: .25rem .5rem;
                    line-height: 1.25rem;
                    color: $silver;
                    animation: txtLeft2Right 20s infinite;
                    animation-direction: normal;
                    animation-timing-function: linear;
                    animation-fill-mode: forwards;
                    &:hover{
                        animation-play-state: paused;
                    }
                    span {
                        margin-right: .8rem;
                        transition: color .2s;
                        &:hover {
                            color: $white;
                            animation: none;
                        }
                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
            }
            &:hover{
                animation-play-state: paused;
            }
        }
        @keyframes txtLeft2Right {
            from {
                left: -100%;
            }
            to {
                left: 100%;
            }
        }
    }
    //rrss
    .rrss {
        float: right;
        ul {
            float: right;
            li {
                display: grid;
                text-align: center;
                a {
                    background: $dark-gray;
                    color: $white;
                    padding: .6rem;
                    font-size: 1.1rem;
                    cursor: pointer;
                    svg,
                    i {
                        vertical-align: middle;
                        &:hover {
                            color: $silver;
                        }
                    }
                }
            }
        }
    }
}