//MAIN
main {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
    section.releases,
    section.showcases {
        width: 100%;
        display: inline-block;
        .left,
        .right {
            width: 50%;
            padding: 0 1rem 1rem;
        }
        .left {
            float: left;
            max-width: fit-content;
            h2 {
                margin-bottom: 1rem;
            }
            .list {
                margin-bottom: 1rem;
                .release,
                .showcase {
                    padding: .6rem;
                    line-height: 1.2em;
                    &.active {
                        background-color: $dark-gray;
                        color: $white;
                        &.li-pm004 {
                            .download {
                                color: $blue;
                            }
                        }
                        &.li-pm003 {
                            .download {
                                color: $silver;
                            }
                        }
                        &.li-pm002 {
                            .download {
                                color: $gold;
                            }
                        }
                        &.li-pm001 {
                            .download {
                                color: $red;
                            }
                        }
                    }
                    &:hover {
                        cursor: pointer;
                    }
                    span {
                        a {
                            color: $dark-gray;
                            font-size: 1em;
                            font-weight: 700;
                            letter-spacing: .04em;
                        }
                    }
                    span.artist {
                        font-weight: 700;
                        letter-spacing: .04em;
                    }
                }
            }
            .bandcamp {
                .embed {
                    height: 230px !important;
                }
            }
            &.fixed{
                position: fixed;
            }
        }
        .right {
            float: right;
            .right-image {
                padding: 4rem 0 2rem;
                .item {
                    img {
                        width: 100%;
                        margin: 0 auto;
                    }
                }
            }
        }
    }
    section.releases {
        padding-bottom: 3rem;
        .right {
            .right-image {
                padding: 2rem 8rem 8rem 1rem;
            }
        }
    }
    section.showcases {
        padding-bottom: 6rem;
        .right{
            .right-image {
                padding: 2rem 9rem 8rem 2rem;
            }
        }
    }
}