//WIDTH
//max
@media only screen and (max-width: 1080px) {
    main {
        section.showcases {
            .right {
                .right-image {
                    padding: 1rem 4rem 8rem;
                }
            }
        }
    }
}

@media only screen and (max-width: 960px) {
    header{
        .about{
            width: 70%;
        }
    }
}

@media only screen and (max-width: 800px) {
    header {
        .logo {
            h1 {
                img {
                    width: 96px;
                    height: 100%;
                    top: 0;
                }
            }
        }
        .about {
            width: 100%;
            padding: 0 1rem 1rem 1rem;
        }
        .rrss {
            position: absolute;
            right: 0;
            top: 0;
            ul {
                li {
                    text-align: center;
                    display: inline-flex;
                    margin: 0 -2px;
                    a {
                        padding: 1rem;
                        font-size: 1.4em;
                    }
                }
            }
        }
    }
    //main
    main {
        section.releases,
        section.showcases {
            .left,
            .right {
                width: 100%;
                float: initial;
            }
            .left {
                h2 {
                    margin-top: 0;
                }
                .list {
                    .release,
                    .showcase {
                        padding: 0.8rem 1rem;
                    }
                }
            }
            .right {
                .right-image {
                    padding: 2rem 0;
                    [data-action] {
                        padding: .8rem 1.6rem;
                    }
                }
            }
        }
        section.releases {
            .bandcamp {
                .embed {
                    width: 84% !important;
                }
            }
        }
        section.showcases {
            .right {
                .right-image {
                    overflow: hidden;
                    padding: 1rem 6rem 14rem;
                }
            }
        }
    }
}

@media only screen and (max-width: 520px) {
    header {
        position: absolute;
    }
    main {
        section.releases {
            padding-bottom: 1rem;
        }
        section.showcases {
            .right {
                .right-image {
                    padding: 0 4rem 14rem;
                }
            }
        }
        .right {
            .item {
                padding: 1rem 0;
            }
        }
    }
    footer {
        display: block;
        .contact,
        .download {
            width: 100%;
            display: block;
            text-align: center;
        }
    }
}

//min
@media only screen and (min-width: 1080px) {
    .about {
        h3 {
            font-size: 1em;
            line-height: 1.24rem;
            margin-bottom: 1rem;
        }
    }
}

@media only screen and (min-width: 1280px) {
    .about {
        h3 {
            font-size: 1.08em;
            line-height: 1.32rem;
            margin-bottom: 1.2rem;
        }
    }
}

// HEIGHT
@media only screen and (max-height: 600px) {
    section.left {
        .bandcamp {
            .embed {
                height: 240px !important;
            }
        }
    }
}