.top0{
    top: 0 !important;
}
.right0{
    right: 0 !important;
}
.left0{
    left: 0 !important;
}
.bottom0{
    bottom: 0 !important;
}

.disp-none{
    display: none !important;
}
.disp-block{
    display: block !important;
}