.right {
    .right-image {
        .tns-controls {
            text-align: center;
            margin-bottom: 10px;
        }
        .tns-controls [aria-controls] {
            margin: 0 .5rem;
            padding: .6rem 1.2rem;
            color: $white;
            background: $dark-gray;
            border: 0;
        }
        [data-action] {
            display: block;
            margin: 10px auto;
            text-align: center;
            background: transparent;
            border: 0;
        }
        .tns-controls [disabled] {
            color: $white;
            background-color: $light-gray;
            cursor: not-allowed !important;
        }
        .tns-nav {
            text-align: center;
        }
        .tns-nav [aria-controls] {
            width: .4em;
            height: .4em;
            padding: 0;
            margin: 0 .6em;
            border-radius: 50%;
            border: 0;
        }
        .tns-nav-active {
            background-color: $dark-gray;
        }
    }
}